body{background-color: #485C3E}

header{width: 100%;
max-width: 320px;
margin: auto;}

h1{  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 5rem;
    text-align: center;
 color: #FFFFFF;
 }

.banchito{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 30px;
margin: auto;
width: 100%;
max-width: 650px;
padding: 20px;
box-sizing: border-box;}

.banchito img{
    width: 100%;
    height: auto;
    
}

footer{height: 25px;}
